<div class="row">
  <h3 class="col-2">Commands</h3>

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

  <div class="btn-group" role="group">
    <div class="commands_title_add"></div>
    <div class="commands_title_remove"></div>
  </div>

  </div>
</div>