<form action="" phx-change=<%= @event_name %>>
  <div class="form-row">
    <input name="index" type="hidden" value="<%= assigns[:index] || 0 %>">
    <%= for input <- @inputs do %>
      <%= render("_input.html", %{input: input}) %>
    <% end %>
  </div>
</form>