<%= for {name, data_index} <- data_inputs(@command)  do %>
  <%= name %>: <input id="slider_<%= @command.index %>" name="data_<%= data_index %>" data-slider-value="<%= Enum.at(@command.data, data_index, 0) %>" type="text" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-tooltip="hide">
<% end %>

<%= if data_inputs(@command) == [] do %>
  <input name="data_0" type="hidden" value="0">
<% end %>