$secondary: #003a3e;

/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/font-awesome/css/font-awesome.css";

.alert:empty {
  display: none;
}

.custom-range::-webkit-slider-thumb {
  background: $secondary;
}

.custom-range::-moz-range-thumb {
  background: $secondary;
}

.custom-range::-ms-thumb {
  background: $secondary;
}